/*  .☻/ 
    /▌ . H e l l o . . . Estilos Base CCS 
    / \
|☠| ¯\_(ツ)_/¯ |☠| ಠ_ಠ |☠| ƪ (ړ ײ) ƪ |☠| <(^ _ ^)>|☠| (ง • ̀_ • ́) ง |☠| */

@import 'utils/variables';
@import 'base/global';
@import 'components/button';
@import 'components/logo';
@import 'components/header';
@import 'components/footer';
@import 'components/team';
@import 'components/profession';
@import 'components/customer';
@import 'layout/container';
@import 'layout/section';

/* header */
/* header & footer */

.characteristics__list,
.menu__list,
.section__all__content {
    display: flex;
}
.characteristics__description,
.all__content--type {
    color: $quinary-color;
}
/* footer */
.characteristics__description {
    line-height: 1.71;
    font-style: normal;
}
/* suscripcion */

/* footer & main */
.title__body {
    color: $tertiary-color;
}
.main__section{
    background: $background-color-secondary;
}


/* main */

.title__body {
    font-weight: 900;
    font-size: 44px;
    line-height: 1.36;
    text-transform: uppercase;
    margin-bottom: 30px;
}
.container.container__title__body {
    max-width: 696px;
}
.button__service {
    color: $tertiary-color;
    background-color: $secondary-color;
    font-weight: 700;
    font-size: 16px;
    line-height: 1.87;
    letter-spacing: 0.06em;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
    border-radius: 4px;
    border: none;
    font-family: inherit;
    padding: 10px 32px;
}
.button__service:hover,
.button__service:focus,
.button__service:active {
    background-color: $button-color-primary;
    outline: none;
}
.titles__description {
    font-weight: 700;
    line-height: 1.14;
    text-transform: uppercase;
    margin-bottom: 10px;
}
.characteristics__list {
    flex-wrap: wrap;
    gap: 30px;
}
.main__section {
    padding-top: 200px;
    padding-bottom: 200px;
    text-align: center;
    letter-spacing: 0.06em;
    background: rgba(47, 48, 58, 0.4) url(../images/meeting.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
}
.icons__div {
    height: 120px;
    background-color: $background-color-quaternary;
    margin-bottom: 30px;
    border-radius: 4px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.list__images {
    flex-basis: calc((100% - 50.58px) / 3);
}

.icons__social-networks--size {
    border-radius: 50%;
    height: 44px;
    width: 44px;
    display: flex;
    justify-content: center;
    align-items: center;
}
.list__icons__websites {
    flex-basis: calc((100% - 30px) / 4);
    fill: $tertiary-color;
}
.list__icons__websites:hover {
    background-color: $secondary-color;
    fill: $tertiary-color;

    border-radius: 50%;
    background-color: $secondary-color;
    text-decoration: none;
}

.container__list__image {
    position: relative;
    z-index: -1;
}
.background__title {
    font-weight: 700;
    line-height: 1.14;
    text-align: center;
    display: block;

    text-transform: uppercase;
    padding: 27px 0;
    color: $tertiary-color;
}
.background--position {
    position: absolute;
    top: 75.25%;
    left: 1.5px;
    width: 370px;
    height: 70px;
    background-color: rgba(47, 48, 58, 0.8);
}
.list__description {
    flex-basis: calc((100% - 90px) / 4);
}



/* Modal */
.modal {
    position: relative;
    width: 528px;
    height: 581px;
    background: $background-color-primary;
    box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
    border-radius: 4px;
    padding: 40px;
}
.backdrop.is-hidden {
    visibility: hidden;
    opacity: 0;
    pointer-events: none;
}
.backdrop {
    display: flex;
    justify-content: center;
    align-items: center;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    visibility: visible;
    background-color: rgba(0, 0, 0, 0.2);
    transition: opacity 250ms cubic-bezier(0.4, 0, 0.2, 1), visibility 250ms cubic-bezier(0.4, 0, 0.2, 1);
    z-index: 1;
}
.icon__close__button {
    background: $background-color-primary;
    border: 1px solid rgba(0, 0, 0, 0.1);
    border-radius: 50%;
    padding: 6px;
    width: 30px;
    height: 30px;
}
.button__close__modal {
    position: absolute;
    top: 8px;
    right: 8px;
    background: $background-color-primary;
    border: 1px solid rgba(238, 5, 5, 0.1);
    border: none;
    background: none;
}
.title__modal {
    margin-bottom: 2px;
    font-weight: 700;
    font-size: 20px;
    line-height: 0.86px;
    text-align: center;
    height: 23px;
    width: 448px;
    padding-top: 8px;
}
.label__modal {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    margin-bottom: 4px;
    margin-top: 10px;
    font-weight: 1.16px;
    letter-spacing: 0.01em;
    color: $quinary-color;
    transition-property: border-color, border-radius, color;
    transition-duration: 250ms;
    transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

.textarea__modal::placeholder {
    color: rgba(117, 117, 117, 0.5);
    font-size: 12px;
    line-height: 1.16;
    letter-spacing: 0.01em;
    transition-property: color;
    transition-duration: 250ms;
    transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}
.textarea__modal {
    width: 100%;
    height: 120px;
    padding: 12px;
    padding-left: 16px;
    border-radius: 4px;
    resize: none;
    outline: none;
    border: 1px solid rgba(33, 33, 33, 0.2);
    transition-property: border-color, border-radius, border, color;
    transition-duration: 250ms;
    transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}
.div__input__icon {
    position: relative;
}
.div__input {
    position: relative;
}
.icon__form {
    fill: $primary-color;
    transition-property: fill;
    transition-duration: 250ms;
    transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
    position: absolute;
    width: 18px;
    height: 18px;
    top: 11px;
    left: 12px;
}

.privacy-policy__input {
    position: absolute !important;
    clip: rect(1px 1px 1px 1px);
    padding: 0 !important;
    border: 0 !important;
    height: 1px !important;
    width: 1px !important;
    overflow: hidden;
}
.icon__span {
    position: absolute;
    display: flex;
    top: 20%;
    left: -2%;
    transform: translateY(-50%);
    justify-content: center;
    align-items: center;
    fill: transparent;
    width: 16px;
    height: 15px;
    border: 2px solid black;
    border-radius: 2px;
    transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
    border-color: 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.privacy-policy__input:checked + .icon__span {
    border-color: $secondary-color;
    background-color: $secondary-color;
}
.privacy-policy__label {
    position: relative;
}
.input__modal {
    display: block;
    outline: none;
    width: 100%;
    padding-right: 12px;
    padding-left: 42px;
    height: 40px;
    border-radius: 4px;
    border: 1px solid rgba(33, 33, 33, 0.2);
    transition-property: border-color, border-radius, color;
    transition-duration: 250ms;
    transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}
.input__modal:focus,
.textarea__modal:hover,
.textarea__modal:focus,
.input__modal:hover {
    border: 1px solid $secondary-color;
}
.div__input:focus-within .div__input__icon .icon,
.div__input:hover .div__input__icon .icon,
.icon__close__button:hover,
.icon__close__button:focus {
    fill: $secondary-color;
}

.privacy-policy__span {
    line-height: 1.71;
    text-align: left;
    color: $quinary-color;
    display: inline-block;
    margin-left: 13px;
    vertical-align: middle;
}

.privacy-policy__div {
    margin-top: 10px;
    margin-left: 13.5px;
    margin-right: 11px;
    display: flex;
}

.button__form:hover,
.button__form:focus,
.button__form:active,
.button__form:target {
    color: $tertiary-color;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
}
.button__form {
    margin-top: 5px;
    padding: 10px 75px 13px;
    height: 53px;
    width: 200px;
    border: none;
    color: $tertiary-color;
    font-family: inherit;
    font-weight: 700;
    font-size: 16px;
    line-height: 1.87;
    letter-spacing: 0.06em;
    background: $secondary-color;
    border-radius: 4px;
    transition-property: box-shadow;
    transition-duration: 250ms;
    transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

/* Team */

/* team & customers */



/*customers  */


/*  .☻/ 
    /▌ . H e l l o . . .Portafolio 
    / \ */

/* Button links */
.menu__links {
    font-weight: 500;
    font-size: 16px;
    line-height: 1.62;
    background: $background-color-quaternary;
    border-radius: 4px;
    border: none;
    font-family: inherit;
    padding: 6px 0;
}
.menu__list {
    text-align: center;
}
.menu__links:hover,
.menu__links:focus,
.menu__links:active,
.menu__links:target {
    color: $tertiary-color;
    background: $secondary-color;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}
.menu__links {
    transition-property: box-shadow, background-color, color;
    transition-duration: 250ms;
    transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

.button__service,
.list__all__content,
.content__information__div,
.div__information__text {
    transition-property: box-shadow, transform, background-color, color, background;
    transition-duration: 250ms;
    transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

.list__all__content:hover,
.list__all__content:focus,
.list__all__content:active,
.list__all__content:target {
    box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.12), 0px 4px 4px rgba(0, 0, 0, 0.06), 1px 4px 6px rgba(0, 0, 0, 0.16);
}
.list--none .menu__links.button__menu--active {
    color: $tertiary-color;
    background: $secondary-color;
}
.menu__content__description {
    font-weight: 700;
    font-size: 18px;
    line-height: 2;
    letter-spacing: 0.06em;
}
.all__content--type {
    font-size: 16px;
    line-height: 1.87;
}
.list__all__content {
    background-color: $background-color-primary;
}
.list__all__content {
    border: 1px solid $senary-color;
    flex-basis: calc((100% - 78px) / 3);
}
.link__information__div--focus {
    outline: none;
    text-decoration: none;
}
.content__information__div {
    position: relative;
    margin-left: auto;
    margin-right: auto;
    overflow: hidden;
}
.list__all__content:hover .div__information__text,
.link__information__div--focus:focus .div__information__text {
    transform: translatey(-100%);
}
.div__information__text {
    position: absolute;
    width: 370px;
    height: 294px;
    background-color: $background-color-tertiary;
    transform: translatex(0%);
}
.information-div-text {
    color: $tertiary-color;
    font-size: 18px;
    line-height: 1.55;
    margin: 63px 24px;
}
.menu__list {
    justify-content: center;
    margin-bottom: 34px;
    flex-wrap: wrap;
    gap: 8px;
}
.section__all__content {
    flex-wrap: wrap;
    gap: 26px;
}
#todo {
    padding-right: 18px;
    padding-left: 17px;
}
#sitios-web {
    padding-right: 24px;
    padding-left: 24px;
}
#marketing {
    padding-right: 26px;
    padding-left: 27px;
}
#design {
    padding-right: 26px;
    padding-left: 25px;
}
#application {
    padding-right: 24px;
    padding-left: 23px;
}
.description__imagenes__menu {
    padding: 20px 24px 20px 24px;
    max-width: 370px;
}
/* Importar Fuentes https://fonts.google.com 
GitHub-repositories
https://github.com/CODEKAPP/goit-markup-hw-03
GitHub-Pages
https://codekapp.github.io/goit-markup-hw-03/

*/