// Variables
@import '../utils/variables';

// global
.section__profession {
    padding-bottom: 94px;
}
.profession__list {
    flex-wrap: wrap;
    gap: 25.19px;
}
.profession__list {
    text-align: center;
    display: flex;
}
